<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-nav">
  <a class="navbar-brand h1 mb-0" href="/">Wedding Planner</a>

	<!-- hamburger -->
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar">
    <span class="navbar-toggler-icon"></span>
  </button>
  <!-- hamburger -->
	
	<div class="collapse navbar-collapse" id="navbar">
    <div class="navbar-nav mr-auto">
			<a class="nav-item nav-link active" href="/newwedding">Plan Your Wedding</a>
			<a class="nav-item nav-link active" href="/dashboard">Upcoming Weddings</a>
    </div>
    <a href="/register" class="btn btn-light my-2 my-sm-0 mr-3" role="button">Register</a>
    <a href="/login" class="btn btn-light my-2 my-sm-0" role="button">Login</a>
  </div>
</nav>